@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --color-primary: #1c110a;
  --color-secondary: #f5dbcb;
  --color-accent-1: #06d6a0;
  --color-accent-2: #e4ff1a;
  --color-accent-3: #5f4bb6;
  background-color: var(--color-primary);
  font-family: Karla;
}

button {
  font-family: Karla;
}

input,
label,
p {
  font-family: Montserrat;
}

@media only screen and (max-width: 960px) {
  html {
    font-size: 55%;
  }
}
